@model Alltech.DataAccess.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_entry_Prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_entry_Prod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_prod }) |
    @Html.ActionLink("Back to List", "Index")
</p>